/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
:root{
  --main-color:#5ea3d0;
  --secondary-color:white;
  --main-text-color: #3e5869;
  --secondary-text-color:#b0c7d6;
  --send-message-form:#F5F5F5;
  }
html,body{
  height:100%;
  margin:0;
  padding:0;
  font-family:system-ui;
  font-weight:200;
  color:#3e5869;
}
#root{
  height:100%;
}

.app{
  display:grid;
  height:100%;
  grid-template-columns:repeat(6,1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
  grid-template-areas:
  "r m m m m m"
  "r m m m m m"
  "r m m m m m"
  "r m m m m m"
  "r m m m m m"
  "n f f f f f"
}
